DEEPSEEK_API_KEY= Your_Deepseek_API 
DEEPSEEK_MODEL=deepseek-chat
LLM_PROVIDER=deepseek
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY= your-langsmith-key
LANGSMITH_PROJECT=your-langsmith-project-name
TAVILY_SEARCH=your-tavily-api-key